main {
    padding: 36px;
}

.form {
    display: grid;
    grid-template: 100% 100% / 1fr 1fr;
    gap: 5px;
}

.form--input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    height: 35px;
    width: 90%;
    margin-right: 5px;
    text-indent: 5px;
}

.form--label {
     margin-bottom: 5px;
}

.form--button {
    font-size: 18px;
    color: white;
    background-color: rgb(102, 43, 127);
    grid-column: 1 / -1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.meme--image {
    padding-top: 80px;
    height: 60%;
    max-width: 100%;
    margin: auto;
    display: block;
}